.das-layout-container {
  display: flex;
  justify-content: space-between;
  margin: 70px 0px;
}

.das-layout-container .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: #304ffe4a 0px 4px 12px;
  margin-left: 50px;
  width: 230px;
}

.das-layout-container .sidebar svg {
  font-size: 3rem;
  color: #304ffe;
}

.das-layout-container .sidebar p {
  color: grey;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 20px;
}

.das-layout-container .sidebar span {
  background-color: #304ffe;
  width: 100%;
  height: 1px;
  background-color: silver;
  margin-top: 5px;
  margin-bottom: 25px;
}

.das-layout-container .sidebar a {
  margin: 10px 0;
  font-weight: 600;
  width: 100%;
}

.das-layout-container .main {
  flex: 1;
}

@media (max-width: 900px) {
  .das-layout-container .sidebar {
    display: none;
  }

  .das-layout-container .main {
    max-width: 100%;
  }
}
