.cart {
  /* width: 250px; */
  border: 2px solid #304ffe58;
  border-radius: 10px;
  padding: 10px;
}

.cart-icon {
  display: inline-flex;
  font-size: 1.4rem;
  background-color: #304ffe58;
  color: #304ffe;
  padding: 5px;
  border-radius: 5px;
}

.cart-title {
  font-weight: 400;
  margin: 10px 0;
}

.cart-location {
  display: flex;
  color: grey;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}

.cart-location svg {
  margin-left: 5px;
  font-size: 1rem;
}

.cart-price {
  color: grey;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.95rem;
  font-weight: 400;
  color: #304ffe;
}

.cart-link svg {
  font-size: 1.5rem;
}
