.input {
  display: flex;
  flex-direction: column;
}

.input label {
  color: #304ffe;
  margin-bottom: 10px;
  font-weight: 400;
}

.input label span {
  color: red;
  margin-right: 3px;
}

.input input {
  width: 250px;
  border: 1px gray solid;
  color: grey;
  border-radius: 5px;
  padding: 10px;
  direction: ltr !important;
  font-size: 1rem;
  height: 40px;
}

.input input:focus {
  border: 2px #304ffe solid;
  outline: none;
}
