.text-input .input {
  display: flex;
  flex-direction: column;
}

.text-input .input label {
  color: #304ffe;
  margin-bottom: 6px;
  font-weight: 400;
}

.text-input .input span {
  color: red;
  margin-right: 4px;
}

.text-input .input input {
  width: 250px;
  border: 1px gray solid;
  color: grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  height: 40px;
}

.text-input .input input:focus {
  border: 2px #304ffe solid;
  outline: none;
}

.text-input .input textarea {
  border: 1px gray solid;
  color: grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
}

.text-input .input textarea:focus {
  border: 2px #304ffe solid;
  outline: none;
}
